* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  background-color: #fff;
  height: 100vh;
}
nav {
  padding-top: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 140px;
  height: 20%;
}

nav a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-left: 78px;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 5px 2px;
  text-decoration: none;

  text-align: center;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: auto;

  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
}
.about-us,
.contact-us {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.skip,
.dropdown li a {
  display: none;
}

section {
  display: flex;

  align-items: center;
  gap: 15em;
  height: 80%;
  padding-left: 140px;
}

.tittle-container {
  display: flex;
  flex-direction: column;
  gap: 59px;
  width: 30%;
}
.tittle-container__svg {
  width: 450px;
  height: 150px;
}
.tittle-container__text {
  width: 435px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.image {
  width: 70%;
}
.image img {
  width: 600px;
  height: 446px;
}
@media (max-width: 1300px) {
  .dropdown li a {
    font-size: 14px;
  }
  .skip {
    font-size: 40px;
  }
  .skip,
  .dropdown li a {
    display: block;
    font-size: 10px;
  }
  .about-us,
  .contact-us {
    display: none;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    gap: 15em;
    padding-top: 0;
  }
  .tittle-container__svg {
    width: 400px;
  }
  .tittle-container__text {
    width: 300px;
  }
  .image img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 940px) {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    gap: 5em;
    padding-left: 85px;
  }
  .tittle-container {
    display: flex;
    flex-direction: column;
  }
  .tittle-container__svg {
    padding-top: 30px;
    width: 200px;
  }
  .tittle-container__text {
    width: 250px;
  }
  .image img {
    width: 360px;
    height: 300px;
  }
}
@media (max-width: 608px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    gap: 1em;
  }
  .tittle-container {
    display: flex;
    flex-direction: column;
  }
  .tittle-container img {
    padding-top: 100px;
  }
  .tittle-container__text {
    padding-top: 10px;
  }
  .image img {
    width: 300px;
  }
  nav img {
    width: 100px;
  }
}

@media (max-width: 440px) {
  section {
    display: flex;
    flex-direction: column;

    padding-left: 100px;
    gap: 0em;
  }
  .tittle-container__svg {
    width: 200px;
    padding-top: 50px;
  }
  .tittle-container__text {
    text-align: center;
    width: 200px;
  }
  .image img {
    width: 200px;
  }
}
@media (max-width: 335px) {
  .tittle-container__svg {
    width: 150px;
  }
  .tittle-container__text {
    width: 150px;
  }
  .image img {
    width: 180px;
    padding-bottom: 50px;
  }
  nav img {
    width: 80px;
  }
  section {
    display: flex;
    flex-direction: column;

    padding-left: 50px;
    padding-top: 10px;
  }
  nav {
    padding-left: 0;
  }

  .skip {
    font-size: 10px;
  }
  .dropdown li a {
    font-size: 7px;
  }
  .tittle-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.info-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-container p {
  padding-top: 131px;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.info-container h6 {
  padding-top: 83px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 1000px;
}
.phone-container {
  padding-top: 72px;
}
.phone-container {
  display: flex;
  gap: 85px;
}
.phone-container img {
  width: 110px;
  height: 194px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
}
@media (max-width: 1200px) {
  .phone-container {
    display: flex;
    gap: 30px;
  }
  .phone-container img {
    width: 80px;
    height: 140px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
  }
  .info-container p {
    padding-top: 20px;
  }
  .info-container h6 {
    padding-top: 30px;
    width: 400px;
  }
}
@media (max-width: 720px) {
  .phone-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .phone-container img {
    width: 80px;
    height: 140px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
  }
  .info-container p {
    padding-top: 20px;
    width: 300px;
    text-align: center;
  }
  .info-container h6 {
    padding-top: 30px;
    width: 200px;
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 335px) {
  .info-container p {
    padding-top: 20px;
    width: 200px;
    text-align: center;
    font-size: 19px;
  }
}

.main__head {
  text-align: center;
  color: #000;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 121px;
}
.game-boy {
  width: 563px;
  height: 563px;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 141px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header {
  display: flex;

  align-items: flex-start;

  flex-direction: column;
  gap: 40px;
}
.header__text {
  color: var(--grey-80, #575656);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 133px;
  height: 61px;
}
.header__click {
  border-radius: 43.591px;
  background: #2686b0;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
}
.header__learn {
  color: #2686b0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-book {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

aside {
  display: flex;

  flex-direction: column;
}
aside img {
  width: 275px;
  height: 170px;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray -13.5px 0px / 110.545% 100% no-repeat;
}
@media (max-width: 1300px) {
  aside {
    padding-top: 60px;
  }
  aside img {
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    background: url(<path-to-image>),
      lightgray -13.5px 0px / 110.545% 100% no-repeat;
  }
  .header {
    display: flex;

    align-items: flex-start;

    flex-direction: column;
    gap: 4em;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }
  .game-boy {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
  }
  .about-book {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
  }
}
@media (max-width: 590px) {
  aside img {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    background: url(<path-to-image>),
      lightgray -13.5px 0px / 110.545% 100% no-repeat;
  }
  .main__head {
    font-size: 15px;
  }
  .header {
    display: flex;

    align-items: flex-start;

    flex-direction: column;
    align-self: flex-end;

    gap: 0.3em;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }
  .about-book {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
  }
  .game-boy {
    width: 270px;
    height: 270px;
  }
  .header {
    &__text {
      font-size: 10px;
      width: 60px;
      text-align: center;
    }
    &__click {
      font-size: 10px;
    }
    &__learn {
      font-size: 10px;
    }
  }
}
.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__5 {
    width: 490px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.poster-container__header {
  color: #b80a41;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 120px;
}
.poster-container__text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cd-images {
  display: flex;
  gap: 21px;
  padding-top: 70px;
}
.cd-images img {
  width: 275px;
  height: 373px;
  flex-shrink: 0;
  border: 3px solid #000;
  background: linear-gradient(
    180deg,
    #ed6aae 0%,
    rgba(172, 255, 190, 0.75) 100%
  );
}
.product-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 2px;
  padding-bottom: 40px;

  padding-top: 20px;
  padding-left: 90px;
}
@media (max-width: 1300px) {
  .poster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cd-images {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-top: 70px;
  }
  .poster-container__text {
    width: 490px;
  }
  .product-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 10px;
  }
}
@media (max-width: 590px) {
  .poster-container__header {
    font-size: 20px;
  }
  .cd-images img {
    width: 180px;
    height: 260px;
  }
  .poster-container {
    &__5 {
      font-size: 11px;

      width: 290px;
    }
    &__text {
      font-size: 11px;
      width: 290px;
    }
  }
  .product-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding-left: 20px;
    gap: 7px;
  }
}
.main-footer {
  background: #1a2349;
  min-height: 555px;
}

.learn-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.line {
  border-bottom: 1px solid #eaeaea;
  width: 177px;
  padding-bottom: 10px;
}

.learn-list p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.learn-list div {
  color: #eaeaea;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.company-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.company-list p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.company-list div {
  color: #eaeaea;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
footer {
  display: flex;

  gap: 123px;
  padding-top: 80px;
  padding-left: 141px;
}
.social-contact {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  padding: 20px;
  padding-right: 150px;
  width: 90%;
  border: 0;
  border-top: 1px solid #4195ba;
  margin: 20px auto;
}
@media (max-width: 1300px) {
  footer {
    display: flex;

    gap: 30px;
    padding-top: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 920px) {
  .learn-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .company-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .line {
    border-bottom: 1px solid #eaeaea;
    width: 100px;
    padding-bottom: 10px;
  }
  .social-contact {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    padding-right: 50px;
    width: 90%;
    border: 0;
    border-top: 1px solid #4195ba;
    margin: 50px auto;
  }

  footer {
    display: flex;

    gap: 30px;
    padding-top: 80px;
    padding-left: 80px;
  }
}
@media (max-width: 596px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    padding-left: 70px;
  }
  .company-list div {
    font-size: 9px;
  }
  .learn-list div {
    font-size: 9px;
  }
  .line {
    border-bottom: 1px solid #eaeaea;
    width: 70px;
    padding-bottom: 10px;
  }
  .company-list p {
    font-size: 11px;
  }
  .learn-list p {
    font-size: 11px;
  }
  .social-contact {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: end;
    padding: 20px;
    padding-right: 140px;
    width: 90%;
    border: 0;
    border-top: 1px solid #4195ba;
    margin: 20px auto;
  }
}
.us-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 140px;

  padding-top: 10px;
}
.game-photo {
  width: 40%;
}
.game-photo img {
  width: 425px;
  height: 512px;
}
.column-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;

  &__img {
    width: 180px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 15px;
  }
  &__b {
    color: #000;
    padding-top: 15px;
    font-family: Joystix;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__text {
    width: 400px;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 20px;
  }

  &__h4 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
  }
}
.learn-more {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 10px;
}
.learn-more__span {
  color: #2686b0;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.important-container {
  &__p {
    color: #666;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 5px;
  }
}
.types-container {
  display: flex;
  gap: 20px;
}
.types-container img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 0;
  }
  nav img {
    width: 100px;
  }
  .game-photo img {
    width: 350px;
    height: 500px;
  }
  .column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &__img {
      width: 80px;
      height: 25px;
    }
  }

  .types-container {
    display: flex;
    gap: 15px;
    padding-left: 10px;
  }
  .types-container img {
    width: 70px;
    height: 80px;
  }
}
@media (max-width: 960px) {
  .us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 1em;
  }
  .game-photo img {
    width: 250px;
    height: 422px;
  }
  .column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &__img {
      width: 100px;
      height: 25px;
    }
    &__b {
      font-size: 14px;
      padding-top: 10px;
    }
    &__text {
      font-size: 10px;
      padding-top: 15px;
    }
    &__h4 {
      font-size: 14px;
    }
  }
  .learn-more__span {
    font-size: 12px;
  }
  .important-container__p {
    font-size: 12px;
  }
  .types-container img {
    width: 60px;
    height: 70px;
  }
}
@media (max-width: 710px) {
  .us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    gap: 2em;
  }
  .game-photo {
    padding-top: 50px;
  }
  .game-photo img {
    width: 150px;
    height: 222px;
  }
  .column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &__text {
      width: 200px;
    }
    &__img {
      width: 100px;
      height: 25px;
    }
  }
}
@media (max-width: 541px) {
  .us-container {
    display: flex;
    align-items: center;

    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    gap: 3em;
  }

  .game-photo img {
    width: 150px;
    height: 200px;
    padding-left: 0px;
  }

  .column-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    &__text {
      width: 200px;
    }
    &__b {
      font-size: 12px;
      padding-top: 10px;
      width: 100px;
    }
    &__img {
      width: 70px;
      height: 15px;
    }
    &__text {
      font-size: 10px;
      padding-top: 15px;
    }
    &__h4 {
      font-size: 12px;
    }
  }
  .types-container {
    display: flex;
    gap: 7px;
  }
  .types-container img {
    width: 50px;
    height: 60px;
  }
  .important-container__p {
    width: 100px;
  }
}
@media (max-width: 380px) {
  .game-photo img {
    width: 130px;
    height: 200px;
  }
  .game-photo {
    padding-right: 100px;
  }
  nav {
    padding-left: 0;
  }
}

.offers-container__p {
  text-align: center;
  color: #000;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 96px;
}
.game-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-top: 53px;
}
.game-price img {
  width: 271px;
  height: 394px;
  flex-shrink: 0;
  padding-bottom: 20px;
}
@media (max-width: 1400px) {
  .offers-container__p {
    padding-top: 20px;
  }

  .game-price img {
    width: 200px;
    height: 364px;
    flex-shrink: 0;
  }
}
@media (max-width: 960px) {
  .offers-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .game-price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 24px;
  }
  .offers-container__p {
    padding-top: 80px;
  }

  .game-price img {
    width: 100px;
    height: 200px;
    flex-shrink: 0;
  }
}
@media (max-width: 541px) {
  .game-price {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .game-price img {
    width: 60px;
    height: 100px;
    flex-shrink: 0;
  }
  .offers-container__p {
    font-size: 15px;
    padding-top: 350px;
  }
}
@media (max-width: 300px) {
  .offers-container__p {
    font-size: 15px;
    padding-top: 300px;
  }
}
.contact-information {
  display: flex;
  gap: 216px;
  padding-left: 140px;
  padding-right: 129px;
  padding-top: 50px;
}
.add-information {
  display: flex;
  gap: 24px;
  flex-direction: column;
  &__h3 {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__p {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 483px;
    padding-top: 24px;
  }
  &__b {
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__span {
    color: #484848;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.head-line {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.svg-right {
  display: flex;
  align-items: center;
}
.first {
  margin-left: 12px;
}
.second {
  margin-left: 30px;
}
.third {
  margin-left: 55px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}
form label {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
form p {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form input {
  width: 380px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #b5b6ba;
}
.small-input {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
}
.big-input {
  width: 198px;
  height: 40px;
  flex-shrink: 0;
}
.flex-input {
  display: flex;
}
form button {
  border-radius: 5px;
  background: #2686b0;
  width: 380px;
  height: 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .contact-information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-left: 180px;
    padding-right: 169px;
    padding-top: 10px;
  }
  .add-information {
    display: flex;
    gap: 24px;
    flex-direction: column;
    &__h3 {
      font-size: 18px;
    }
    &__p {
      width: 300px;
    }
    &__span {
      width: 300px;
    }
  }
  .flex-input {
    display: flex;
    flex-direction: column;
  }
  .small-input {
    width: 250px;
    height: 40px;
    flex-shrink: 0;
  }
  .big-input {
    width: 250px;
    height: 40px;
    flex-shrink: 0;
  }

  form input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    padding-top: 20px;
  }

  form textarea {
    width: 250px;
    height: 80px;
  }
  form button {
    width: 250px;
  }
  .first {
    margin-left: 0;
  }
  .second {
    margin-left: 0;
  }
  .third {
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .contact-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 180px;
    padding-right: 169px;
    padding-top: 10px;
  }
  .add-information {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    &__h3 {
      font-size: 9px;
      padding-top: 8px;
    }
    &__p {
      font-size: 9px;
      width: 350px;
      padding-top: 5px;
    }
    &__span {
      font-size: 9px;
      width: 350px;
    }
    &__b {
      font-size: 10px;
    }
  }
  .head-line {
    display: flex;
    gap: 7px;
    flex-direction: column;
    text-align: center;
  }
  form label {
    font-size: 14px;
  }
  form p {
    font-size: 14px;
  }
  .small-input {
    width: 150px;
    height: 20px;
    flex-shrink: 0;
  }
  .big-input {
    width: 150px;
    height: 20px;
  }
  form input {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 150px;
    height: 20px;
    padding-top: 7px;
  }
  form textarea {
    width: 150px;
    height: 30px;
  }
  form button {
    width: 150px;
  }
  form label {
    font-size: 9px;
  }
}
@media (max-width: 512px) {
  .contact-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-left: 180px;
    padding-right: 169px;
    padding-top: 0px;
  }
  .small-input {
    width: 150px;
    height: 20px;
    flex-shrink: 0;
  }
  .big-input {
    width: 150px;
    height: 20px;
  }
  form input {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 150px;
    height: 20px;
    padding-top: 7px;
  }

  form textarea {
    width: 150px;
    height: 30px;
  }
  form button {
    width: 150px;
  }
  form label {
    font-size: 9px;
  }
  form p {
    font-size: 9px;
  }
  .add-information {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &__h3 {
      font-size: 9px;
      padding-top: 8px;
    }
    &__p {
      font-size: 9px;
      width: 350px;
      padding-top: 5px;
    }
    &__span {
      font-size: 9px;
      width: 350px;
    }
    &__b {
      font-size: 10px;
    }
  }

  .head-line {
    display: flex;
    gap: 7px;
    flex-direction: column;
  }
}
@media (max-width: 312px) {
  .add-information {
    display: flex;
    gap: 10px;
    flex-direction: column;
    &__h3 {
      font-size: 9px;
      padding-top: 0px;
    }
  }
  .svg-right svg {
    display: none;
  }
  form button {
    font-size: 9px;
  }
}
