* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
article {
  background-color: #fff;

  height: 100vh;
}
nav {
  padding-top: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
  height: 20%;
}

nav a {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-left: 78px;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 5px 2px;
  text-decoration: none;

  text-align: center;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: auto;

  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
}
.about-us,
.contact-us {
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.skip,
.dropdown li a {
  display: none;
}

section {
  display: flex;

  align-items: center;
  gap: 15em;
  height: 80%;
  padding-left: 140px;
}

.tittle-container {
  display: flex;
  flex-direction: column;
  gap: 59px;
  width: 30%;
}
.tittle-container__svg {
  width: 450px;
  height: 150px;
}
.tittle-container__text {
  width: 435px;
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.image {
  width: 70%;
}
.image img {
  width: 600px;
  height: 446px;
}
@media (max-width: 1300px) {
  .dropdown li a {
    font-size: 14px;
  }
  .skip {
    font-size: 40px;
  }
  .skip,
  .dropdown li a {
    display: block;
    font-size: 10px;
  }
  .about-us,
  .contact-us {
    display: none;
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 140px;
    gap: 15em;
    padding-top: 0;
  }
  .tittle-container__svg {
    width: 400px;
  }
  .tittle-container__text {
    width: 300px;
  }
  .image img {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 940px) {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    gap: 5em;
    padding-left: 85px;
  }
  .tittle-container {
    display: flex;
    flex-direction: column;
  }
  .tittle-container__svg {
    padding-top: 30px;
    width: 200px;
  }
  .tittle-container__text {
    width: 250px;
  }
  .image img {
    width: 360px;
    height: 300px;
  }
}
@media (max-width: 608px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    gap: 1em;
  }
  .tittle-container {
    display: flex;
    flex-direction: column;
  }
  .tittle-container img {
    padding-top: 50px;
  }
  .tittle-container__text {
    padding-top: 10px;
  }
  .image img {
    width: 300px;
  }
  nav img {
    width: 100px;
  }
}

@media (max-width: 440px) {
  section {
    display: flex;
    flex-direction: column;

    padding-left: 100px;
    gap: 0em;
  }
  .tittle-container__svg {
    width: 200px;
  }
  .tittle-container__text {
    width: 200px;
  }
  .image img {
    width: 200px;
  }
}

.info-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-container p {
  padding-top: 131px;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.info-container h6 {
  padding-top: 83px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 1000px;
}
.phone-container {
  padding-top: 72px;
}
.phone-container {
  display: flex;
  gap: 85px;
}
.phone-container img {
  width: 110px;
  height: 194px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
}
@media (max-width: 1200px) {
  .phone-container {
    display: flex;
    gap: 30px;
  }
  .phone-container img {
    width: 80px;
    height: 140px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
  }
  .info-container p {
    padding-top: 20px;
  }
  .info-container h6 {
    padding-top: 30px;
    width: 400px;
  }
}
@media (max-width: 720px) {
  .phone-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .phone-container img {
    width: 80px;
    height: 140px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(180, 0, 0, 0.25);
  }
  .info-container p {
    padding-top: 20px;
    width: 300px;
    text-align: center;
  }
  .info-container h6 {
    padding-top: 30px;
    width: 200px;
    text-align: center;
    font-size: 14px;
  }
}
.main__head {
  text-align: center;
  color: #000;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 121px;
}
.game-boy {
  width: 563px;
  height: 563px;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 141px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.header {
  display: flex;

  align-items: flex-start;

  flex-direction: column;
  gap: 40px;
}
.header__text {
  color: var(--grey-80, #575656);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 133px;
  height: 61px;
}
.header__click {
  border-radius: 43.591px;
  background: #2686b0;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-flex;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
}
.header__learn {
  color: #2686b0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-book {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

aside {
  display: flex;

  flex-direction: column;
}
aside img {
  width: 275px;
  height: 170px;
  flex-shrink: 0;
  background: url(<path-to-image>),
    lightgray -13.5px 0px / 110.545% 100% no-repeat;
}
@media (max-width: 1300px) {
  aside {
    padding-top: 60px;
  }
  aside img {
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    background: url(<path-to-image>),
      lightgray -13.5px 0px / 110.545% 100% no-repeat;
  }
  .header {
    display: flex;

    align-items: flex-start;

    flex-direction: column;
    gap: 4em;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }
  .game-boy {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
  }
  .about-book {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
  }
}
@media (max-width: 590px) {
  aside img {
    width: 150px;
    height: 100px;
    flex-shrink: 0;
    background: url(<path-to-image>),
      lightgray -13.5px 0px / 110.545% 100% no-repeat;
  }
  .main__head {
    font-size: 15px;
  }
  .header {
    display: flex;

    align-items: flex-start;

    flex-direction: column;
    align-self: flex-end;

    gap: 0.3em;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }
  .about-book {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0px;
  }
  .game-boy {
    width: 270px;
    height: 270px;
  }
  .header {
    &__text {
      font-size: 10px;
      width: 60px;
      text-align: center;
    }
    &__click {
      font-size: 10px;
    }
    &__learn {
      font-size: 10px;
    }
  }
}
.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__5 {
    width: 490px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.poster-container__header {
  color: #b80a41;
  font-family: Joystix;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 120px;
}
.poster-container__text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cd-images {
  display: flex;
  gap: 21px;
  padding-top: 70px;
}
.cd-images img {
  width: 275px;
  height: 373px;
  flex-shrink: 0;
  border: 3px solid #000;
  background: linear-gradient(
    180deg,
    #ed6aae 0%,
    rgba(172, 255, 190, 0.75) 100%
  );
}
.product-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 2px;
  padding-bottom: 40px;

  padding-top: 20px;
  padding-left: 90px;
}
@media (max-width: 1300px) {
  .poster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cd-images {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding-top: 70px;
  }
  .poster-container__text {
    width: 490px;
  }
  .product-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    gap: 10px;
  }
}
@media (max-width: 590px) {
  .poster-container__header {
    font-size: 20px;
  }
  .cd-images img {
    width: 180px;
    height: 260px;
  }
  .poster-container {
    &__5 {
      font-size: 11px;

      width: 290px;
    }
    &__text {
      font-size: 11px;
      width: 290px;
    }
  }
  .product-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    padding-left: 20px;
    gap: 7px;
  }
}
.main-footer {
  background: #1a2349;
  min-height: 555px;
}

.learn-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.line {
  border-bottom: 1px solid #eaeaea;
  width: 177px;
  padding-bottom: 10px;
}

.learn-list p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.learn-list div {
  color: #eaeaea;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.company-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.company-list p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.company-list div {
  color: #eaeaea;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
footer {
  display: flex;
  gap: 123px;
  padding-top: 80px;
  padding-left: 141px;
}
.social-contact {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: end;
  padding: 20px;
  padding-right: 150px;
  width: 90%;
  border: 0;
  border-top: 1px solid #4195ba;
  margin: 20px auto;
}
